.nav_item{
     text-decoration: none;
}
.logo{
     width: 8%;
     cursor: pointer;
}

.links{
     text-decoration: none;
     color: black;
}
.links:hover{
     color: #F1D00A;
}

.active{
     font-size: 15px;
     color: #F1D00A;
     font-weight: 700;
     text-decoration: none;
}

.nav{
     gap: 10%;
     height: 70px;
     font-size: 15px;
     font-weight: 600;
     background: transparent;
}

.lang{
     border: none;
     font-size: 15px;
     font-weight: 500;
     width: 7%;
     margin-left: -1%;
     color: darkcyan;
}

.mobnav{
     display: none;
}


@media screen and (max-width: 992px) {
     .logo{
          width: 16%;
     }
     .mobnav{
          display: block;
          font-size: 30px;
     }
     .menumob{
          height: 30px;
          width: 30px;
     }
     
     .nav_item a{
          display: none;
     }

     .languange{
          width: 35px;
     }
     
     .nav_item select{
          display: none;
     }
}

@media screen and (max-width: 425px) {
     .logo{
          width: 25%;
          padding-left: 5%;
     }
}

