.wrap_btn {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 2%;
}

.harga {
     font-weight: 700;
     font-size: 26px;
}

.tokped {
     background-color: #27AE60;
     border: 1px solid #27AE60;
     border-radius: 100px;
     height: 35px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
}

@media screen and (max-width: 425px) {
     .wrap_btn {
          flex-direction: column;
          row-gap: 10px;
     }

     .tokped{
          width: 100%;
     }
}