.container{
     width: 300px;
     height: 150px;
     display: flex;
     flex-direction: row;
     align-items: center;
     border-radius: 10px;
     cursor: pointer;
     border: none;
     padding-left: 7px;
}
.container:hover{
     background-color: #dedede;
}

.body{
     max-width: 60%;
     /* padding: 10px; */
     overflow: hidden;
}
.img{
     height: 92%;
     width: 40%;
     object-fit: cover;
     border-radius: 10px;
}

.title{
     font-size: 16px;
     font-weight: bold;
     max-height: 20%;
     overflow: hidden;
}

.desc{
     font-size: 0.8em;
     font-weight: 300;
     height: 10%;
}

.price{
     height: 10%;
}

@media screen and (max-width: 992px){
     .container{
          flex-direction: column;
          width: 150px;
          height: 230px;
          padding-left: 0px;
          padding-top: 6px;

     }
     .img{
          height: 50%;
          width: 92%;
     }
     .body{
          height: 50%;
          max-width: 94%;
          padding: 5px;
     }
     .title{
          font-size: 14px;
          max-height: 50%;
     }

     .desc{
          font-size: 12px;
          max-height: 15%;
     }
     .price{
          font-size: 18px;
          max-height: 35%;
     }


}
@media screen and (max-width: 425px){
     .container{
          width: 150px;
          height: 250px;
     }



    
}