.detail{
     max-width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 10% 3%;
     padding-top: 0%;
}

.harga{
     margin-bottom: 50px;
     font-weight: 700;
}

.tokped{
     background: #27AE60;
     border: 1px solid #27AE60;
     border-radius: 100px;
     height: 48px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
}

.bukalapak{
     background: #FA2C5A;
     border: 1px solid #FA2C5A;
     border-radius: 100px;
     height: 48px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
}

.shopee{
     background: #F2994A;
     border: 1px solid #F2994A;
     border-radius: 100px;
     height: 48px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
}