@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700;900&display=swap');

body {
  background-color: #ffffff;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;

}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #F1D00A;
}

.form-control:focus {
  box-shadow: none;
}
.form-control:active{
  box-shadow: none;
}

@media screen and (min-height: 960px) {
  body {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 768px) {
  body{
    font-size: 14px;
  }
}