.review_container{
     width: 90vw;
     min-height: 60vh;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin: 5% 0%;
}

.swuipe{
     width: 65%;
     height: 400px;
}

.logo{
     margin-top: 2%;
     height: 40vh;
     display: flex;
     justify-content: center;
     align-items: flex-start;
}

@media screen and (max-width: 992px){
     .review_container{
          width: 98vw;
     }
     .swuipe{
          width: 100%;
     }     
}


@media screen and (max-width: 425px){
     
}