.review_container{
     width: 90vw;
     height: 60vh;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin: 5% 0%;
}

.swuipe{
     width: 65%;
     height: 400px;
}